.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  padding: 15px;
  max-width: 100% !important;
}
.container img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.container .head-cont-text {
  font-family: "Maven Pro", sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: end;
  letter-spacing: 3px;
  margin-right: 30px;
}
.container .head-cont-text i {
  font-size: 11px;
  margin-right: 8px;
}
.container .head-cont-collect {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: start;
}
.container .head-cont-collect .dropdown {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid rgb(209, 209, 209);
}
.container .head-cont-collect .dropdown:hover .dropdown-content {
  display: block;
}
.container .head-cont-collect .dropdown .dropbtn {
  color: black;
  cursor: pointer;
  border: none;
  background-color: rgb(240, 240, 240);
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: 550;
  text-align: center;
  padding: 0px 15px;
  height: 30px;
}
.container .head-cont-collect .dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  padding-left: 0px !important;
  width: 100%;
  right: 0px;
  top: 30px;
}
.container .head-cont-collect .dropdown .dropdown-content .content-ul {
  list-style: none;
}
.container .head-cont-collect .dropdown .dropdown-content a {
  font-family: "Maven Pro", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: black;
  width: 100%;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  border: 1px solid rgb(209, 209, 209);
  border-width: thin;
  background-color: rgb(240, 240, 240);
}
.container .head-cont-collect .dropdown .dropdown-content a:hover {
  background-color: rgb(209, 209, 209);
}
.container .head-cont-info {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.container .head-cont-info a {
  text-decoration: none;
  padding: 0 10px;
  color: black;
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.container .social-account {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: start;
}
.container .social-account i {
  font-size: 14px;
  padding: 0px 8px;
  color: gray;
}
.container .social-account i:hover {
  color: orangered;
}

.nav {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.nav .nav-text {
  flex-grow: 1;
  font-family: "Maven Pro", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: end;
}
.nav .nav-text a {
  color: black;
  text-decoration: none;
}
.nav .navbar {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.nav .navbar .dropdown {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
.nav .navbar .dropdown:hover .dropdown-content {
  display: block;
}
.nav .navbar .dropdown:hover .dropbtn {
  color: orangered;
}
.nav .navbar .dropdown .dropbtn {
  color: black;
  cursor: pointer;
  border: none;
  background-color: white;
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}
.nav .navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  left: -60px;
  top: 27px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: rgb(240, 240, 240);
  width: 250px;
}
.nav .navbar .dropdown .dropdown-content a {
  font-family: "Maven Pro", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: black;
  padding: 12px 16px;
  width: 100%;
  text-decoration: none;
  display: block;
  border: 1px solid rgb(209, 209, 209);
  border-width: thin;
}
.nav .navbar .dropdown .dropdown-content a:hover {
  background-color: rgb(209, 209, 209);
}
.nav .navbar-item {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: start;
}
.nav .navbar-item i {
  padding: 8px;
  font-size: 16px;
  color: black;
}
.nav .navbar-item i:hover {
  color: orangered;
}
.nav .navbar-item .fa-bag-shopping {
  position: relative;
  display: block;
  width: 30px;
}
.nav .navbar-item .fa-bag-shopping::after {
  content: "2";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 15px;
  top: -3px;
  font-size: 9px;
  background-color: orangered;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  color: white;
}

.bottom-main {
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  font-family: "Jost";
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.bottom-main::after {
  content: "";
  border-bottom: 1px solid rgb(186, 186, 186);
  border-width: thin;
  width: 1300px;
  margin-top: 20px;
}
.bottom-main .bottom-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}
.bottom-main .bottom-box .bottom-icon i {
  color: orangered;
}
.bottom-main .bottom-box .bottom-text {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
  font-family: "Jost";
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 10px;
}
.bottom-main .bottom-box .bottom-text .text-p-2 {
  color: rgba(167, 167, 167, 0.912);
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
}

.section-text {
  width: 100%;
}
.section-text .text-container {
  padding-top: 120px;
  margin: auto;
  width: 500px;
  text-align: center;
}
.section-text .text-container .text-p-1 {
  font-family: "Jost";
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: gray;
}
.section-text .text-container .text-p-2 {
  font-family: "Jost";
  font-size: 37px;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
}
.section-text .text-container .text-p-3 {
  font-family: "Jost";
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  margin-top: 30px;
  color: rgb(93, 93, 93);
}

.collection {
  position: relative;
  margin: auto;
  width: 1100px;
}
.collection .collection-content {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.collection .collection-content .content-box-1 {
  margin-right: 20px;
  flex-grow: 1;
  height: 400px;
  width: 200px;
  background-image: url("./img/product-1.jpg");
  background-position: 0%;
  transition: 0.7s background-position;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.collection .collection-content .content-box-1 .texting {
  font-size: 30px;
  font-weight: 500;
  color: white;
  padding: 10px;
}
.collection .collection-content .content-box-1 .shopping {
  width: 200px;
  height: 40px;
}
.collection .collection-content .content-box-1 .shopping a {
  margin-left: 20px;
  line-height: 40px;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.collection .collection-content .content-box-1 .shopping a i {
  margin-left: 10px;
  transition: 0.7s padding;
  font-size: 15px;
}
.collection .collection-content .content-box-1:hover i {
  padding-left: 15px;
}
.collection .collection-content .content-box-1:hover {
  background-position: 100%;
}
.collection .collection-content .content-box-2 {
  position: relative;
  flex-grow: 3;
  height: 400px;
  background-image: url("./img/product-2.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  transition: 0.7s background-position;
}
.collection .collection-content .content-box-2 .content-box-2__save {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ff6f61;
  color: white;
  text-align: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-weight: 700;
  top: 20px;
  left: 620px;
}
.collection .collection-content .content-box-2 .content-box-2__save p {
  font-family: "Jost";
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.collection .collection-content .content-box-2 .texting {
  font-size: 28px;
  font-weight: 500;
  color: black;
  padding: 10px;
  margin-left: 50px;
}
.collection .collection-content .content-box-2 .shopping {
  width: 200px;
  height: 40px;
  margin-left: 50px;
}
.collection .collection-content .content-box-2 .shopping a {
  margin-left: 20px;
  line-height: 40px;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.collection .collection-content .content-box-2 .shopping a i {
  margin-left: 10px;
  transition: 0.7s padding;
  font-size: 15px;
}
.collection .collection-content .content-box-2:hover i {
  padding-left: 15px;
}
.collection .collection-content .content-box-2:hover {
  background-position: 80%;
}
.collection .collection-content .content-box-3 {
  margin-right: 20px;
  flex-grow: 3;
  height: 400px;
  background-image: url("./img/product-3.jpg");
  background-position: 10%;
  transition: 0.7s background-position;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
.collection .collection-content .content-box-3 .texting {
  margin-left: 50px;
  font-size: 30px;
  font-weight: 500;
  color: black;
  padding: 10px;
}
.collection .collection-content .content-box-3 .shopping {
  margin-left: 50px;
  width: 200px;
  height: 40px;
}
.collection .collection-content .content-box-3 .shopping a {
  margin-left: 10px;
  line-height: 40px;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.collection .collection-content .content-box-3 .shopping a i {
  margin-left: 10px;
  transition: 0.7s padding;
  font-size: 15px;
}
.collection .collection-content .content-box-3:hover i {
  padding-left: 15px;
}
.collection .collection-content .content-box-3:hover {
  background-position: 60%;
}
.collection .collection-content .content-box-4 {
  flex-grow: 1;
  height: 400px;
  width: 200px;
  background-image: url("./img/product-4.jpg");
  background-position: 10%;
  transition: 0.7s background-position;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.collection .collection-content .content-box-4 .texting {
  font-size: 30px;
  font-weight: 500;
  color: white;
  padding: 10px;
}
.collection .collection-content .content-box-4 .shopping {
  width: 200px;
  height: 40px;
}
.collection .collection-content .content-box-4 .shopping a {
  margin-left: 20px;
  line-height: 40px;
  font-family: "Jost";
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.collection .collection-content .content-box-4 .shopping a i {
  margin-left: 10px;
  transition: 0.7s padding;
  font-size: 15px;
}
.collection .collection-content .content-box-4:hover i {
  padding-left: 15px;
}
.collection .collection-content .content-box-4:hover {
  background-position: 60%;
}

.top {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 150px;
}
.top span {
  font-size: 40px;
  font-weight: 600;
}
.top div {
  margin-top: 20px;
}
.top div a {
  text-decoration: none;
  margin: 20px;
  color: orangered;
}
.top div a:hover {
  color: orangered;
}
.top div a:focus {
  border-bottom: 1px solid orangered;
}

.products-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.products-container .items-a {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.products-container .items-a .products {
  margin: 10px 20px;
  flex-basis: 16%;
  height: 500px;
}
.products-container .items-a .products .img {
  height: 300px;
  background-color: lightblue;
  background-image: url("../img/product-120.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.billboard {
  font-family: "Maven Pro", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-top: 35px;
  padding: 13px;
  background-image: url("../css/img/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.billboard i {
  color: orangered;
  font-size: 12px;
  padding: 0px 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin: 20px 0px;
  width: 100%;
  height: 480px;
  cursor: pointer;
}
.main-container .main-women {
  flex-grow: 1;
  height: 100%;
  background-image: url("./img/woman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  filter: grayscale(60%);
  transition: 0.8s filter;
}
.main-container .main-women .text-center {
  font-family: "Jost";
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 180px;
  color: white;
  filter: grayscale(10%);
}
.main-container .main-women .main-button {
  width: 180px;
  height: 40px;
  background-color: white;
}
.main-container .main-women .main-button a {
  margin-left: 20px;
  line-height: 40px;
  font-family: "Jost";
  font-size: 17px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.main-container .main-women .main-button a i {
  margin-left: 10px;
  transition: 0.7s padding;
  font-size: 15px;
}
.main-container .main-women:hover i {
  padding: 0 15px;
}
.main-container .main-women:hover {
  filter: grayscale(0%);
}
.main-container .main-women:hover .text-center {
  filter: grayscale(0%);
}
.main-container .main-men {
  flex-grow: 1;
  height: 100%;
  background-image: url("./img/man.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  filter: grayscale(60%);
  transition: 0.8s filter;
}
.main-container .main-men .text-center {
  font-family: "Jost";
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 180px;
  color: white;
  filter: grayscale(10%);
}
.main-container .main-men .main-button {
  width: 180px;
  height: 40px;
  background-color: white;
}
.main-container .main-men .main-button a {
  margin-left: 20px;
  line-height: 40px;
  font-family: "Jost";
  font-size: 17px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.main-container .main-men .main-button a i {
  margin-left: 10px;
  transition: 0.7s padding;
  font-size: 15px;
}
.main-container .main-men:hover i {
  padding: 0 15px;
}
.main-container .main-men:hover {
  filter: grayscale(0%);
}
.main-container .main-men:hover .text-center {
  filter: grayscale(0%);
}
.main-container .main-kids {
  flex-grow: 1;
  height: 100%;
  background-image: url("./img/kids.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  filter: grayscale(60%);
  transition: 0.8s filter;
}
.main-container .main-kids .text-center {
  font-family: "Jost";
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 180px;
  color: white;
  filter: grayscale(10%);
}
.main-container .main-kids .main-button {
  width: 180px;
  height: 40px;
  background-color: white;
}
.main-container .main-kids .main-button a {
  margin-left: 20px;
  line-height: 40px;
  font-family: "Jost";
  font-size: 17px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.main-container .main-kids .main-button a i {
  margin-left: 10px;
  transition: 0.7s padding;
  font-size: 15px;
}
.main-container .main-kids:hover i {
  padding: 0 15px;
}
.main-container .main-kids:hover {
  filter: grayscale(0%);
}
.main-container .main-kids:hover .text-center {
  filter: grayscale(0%);
}

.box {
  display: flex;
  width: 600px;
  background-color: lightblue;
}
.box .left {
  width: 50%;
  background-color: aquamarine;
}
.box .right {
  width: 50%;
  background-color: burlywood;
}/*# sourceMappingURL=main.css.map */