@mixin font ($size, $weight) {
    font-family: 'Maven Pro', sans-serif;
    font-size: $size;
    font-weight: $weight;
    text-align: center;
}

@mixin font-2 ($size, $weight) {
    font-family: 'Jost';
    font-size: $size;
    font-weight: $weight;
    text-align: center;
}